# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/

# Ignore logs
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore Rider settings
.idea/

# Ignore other common files
*.DS_Store
*.lock.json
*.lock

.env
appsettings.Development.json
imported*.json

**/MongoDB/data/
**/MongoDB/log/
